
table{
    width:100%;
    text-align: center;
}
td{
    padding:5px;
}

.datatable-body-cell{
    padding-top:5px !important
}
datatable-scroller {
    width: 100% !important;
}
img{
    width: 28px;
}
ion-icon{
    font-size: large;
}
.icn{
    display: flex;
    align-items: center;
}
ion-icon {
    font-size: 30px;
    left:5px;
}
.icn *{
    margin:5px;
}
.my-custom-cell{
    color:red;
    width:90px !important;
}