<ion-header>
  <ion-toolbar color="dark" dir="rtl">
    <ion-grid>
      <ion-row>

        <ion-col size="6">
          <ion-title>
            מונה הזמנות
          </ion-title>
        </ion-col>

        <ion-col dir="ltr" size="6">
          <div class="iconsdiv">
            <div>
              <ion-icon name="md-refresh-circle" (click)="getCounters()"></ion-icon>
            </div>
            <div (click)="whatsappShare()">
              <ion-icon name="logo-whatsapp"></ion-icon>
            </div>
            <div (click)="emailShare()">
              <ion-icon ios="ios-mail" md="md-mail"></ion-icon>
            </div>
            <div>
            <a  routerLink="/archive"><ion-icon ios="ios-archive" md="md-archive" ></ion-icon></a> 
            </div>
          </div>


        </ion-col>

      </ion-row>
    </ion-grid>


  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed dir="rtl">
    <div>{{todayFormatted}}</div>
    <ion-row *ngIf="counterObj != []">
      <ion-col size="12">
<div  *ngFor="let rest of Rests; let i= index">
  <ion-card dir="ltr" class="card" *ngIf="i<3"  class="ion-padding">
    <ion-card-header>
      <ion-card-subtitle>
        <div class='restData'>
          <div>{{rest.Name}}</div>
          <div>{{rest.Count}}</div>
        </div>
      </ion-card-subtitle>
      <ion-card-title></ion-card-title>
    </ion-card-header>
  </ion-card>
</div>
 
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
      </ion-col>
    </ion-row>
    <ion-row>
        <ion-col text-center style="font-size: 54px;">
          {{total}}
          </ion-col>
    </ion-row>
  </ion-grid>
  <div class="copyright">Samer Alataona(C) 2019 v{{version}}</div>
</ion-content>