ion-icon {
    font-size: 30px;
    left:5px;
}
ion-card-subtitle{
    font-size: 22px;
}
ion-card{
    background: linear-gradient(40deg, #000000, #000733)!important;
}
ion-card-subtitle{
    color:white;
}
ion-card-title{
    color:white;
}
.copyright{
    display: block;
    position: absolute;
    bottom: 0px;
    font-size: 12px;
}
.restData{
    display: flex;
    justify-content: space-between;
}
.restData:last-child{
    font-size: 32px;
}
.copyright{
    text-align: center;
    width:100%;
}
.iconsdiv{
    display: flex;
    width: 60%;
    justify-content: space-around;
}
a{
    color:white;
}